/*doc.vue*/
.doc-sliderTo-enter-from,
.doc-sliderTo-leave-to{
    transform: translateX(20px);
    opacity: 0;
}
.doc-sliderTo-leave-active,
.doc-sliderTo-enter-active{
    transition: all .15s ease-out;
}
/*f-tag-close*/

.f-tag-close-enter-from,
.f-tag-close-leave-to{
    transform: scaleX(.05);
    opacity: 0;
}
.f-tag-close-enter-active,
.f-tag-close-leave-active{
    transition: all .25s ease-in-out;
}
/*f-dropdowns*/
.f-zoom-in__center-enter-from,
.f-zoom-in__center-leave-to{
    transform: translateX(-50%) scale(1, .4) !important;
    opacity: 0;
}
.f-zoom-in__center-enter-active,
.f-zoom-in__center-leave-active{
    transition: all .18s ease-out;
}

/*f-dropdowns placement left/ right*/
.f-zoom-in-enter-from,
.f-zoom-in-leave-to{
    transform: scale(1, .4) !important;
    opacity: 0;
}
.f-zoom-in-enter-active,
.f-zoom-in-leave-active{
    transition: all .15s;
}

/*f-select*/
.f-select-fade-enter-from,
.f-select-fade-leave-to{
    transform: translateY(var(--translateY));
    opacity: 0;
}
.f-select-fade-enter-active,
.f-select-fade-leave-active{
    transition: all .2s;
}

/*toTop*/
.f-toTop-zoom-in-enter-from,
.f-toTop-zoom-in-leave-to{
    transform: scale(.2) rotate(-90deg) !important;
}
.f-toTop-zoom-in-enter-active,
.f-toTop-zoom-in-leave-active{
    transform-origin: center;
    transition: all .2s ease-out;
}

/*f-checkbox*/
.f-checkbox-zoom-in-enter-from,
.f-checkbox-zoom-in-leave-to{
    transform: scale(0);
}
.f-checkbox-zoom-in-enter-active,
.f-checkbox-zoom-in-leave-active{
    transform-origin: center;
    transition: all .16s;
}

/*f-message*/
.f-message-slider-in-enter-from,
.f-message-slider-in-leave-to{
    transform: translate(-50%, -100%) !important;
    opacity: 0;
}
.f-message-slider-in-enter-active,
.f-message-slider-in-leave-active{
    transition: all .25s ease-in-out;
}

/*f-model*/
.f-model-show-scale-enter-from,
.f-model-show-scale-leave-to{
    transform: scale(.65);
    opacity: 0;
}
.f-model-show-scale-enter-active,
.f-model-show-scale-leave-active{
    transition: all .20s;
}

/*f-model-mask*/
.f-model-mask-fade-enter-from,
.f-model-mask-fade-leave-to{
    opacity: 0;
}
.f-model-mask-fade-enter-active,
.f-model-mask-fade-leave-active{
    transition: all .3s ease-out;
}

/*f-tooltip*/
.f-tooltip-fade-enter-from,
.f-tooltip-fade-leave-to{
    opacity: 0;
}
.f-tooltip-fade-enter-active,
.f-tooltip-fade-leave-active{
    transition: all .15s ease-out;
}

/*f-popconfirm*/
.f-popconfirm-fade-enter-from,
.f-popconfirm-fade-leave-to{
    transform: var(--transform) !important;
    opacity: 0;
}
.f-popconfirm-fade-enter-active,
.f-popconfirm-fade-leave-active{
    transition: all .16s ease-out;
}

/*f-drawer-content-slide*/
.f-drawer-content-slide-enter-from,
.f-drawer-content-slide-leave-to{
    transform: var(--direction);
}
.f-drawer-content-slide-enter-active,
.f-drawer-content-slide-leave-active{
    transition: all .2s ease-in;
}

/*f-drawer-mask-fade*/
.f-drawer-mask-fade-enter-from,
.f-drawer-mask-fade-leave-to{
    opacity: 0;
}
.f-drawer-mask-fade-enter-active,
.f-drawer-mask-fade-leave-active{
    transition: all .3s ease-out;
}


/*f-img-*/
.f-img-show-big-enter-from,
.f-img-show-big-leave-to{
    transform: scale(.2);
    opacity: 0;
}
.f-img-show-big-enter-active,
.f-img-show-big-leave-active{
    transition: all .18s ease-in-out;
}

/*f-spin*/
@keyframes loading-rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loading-ringRotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loading-dash {
    0%{
        stroke-dasharray: var(--start-stroke-dasharray);
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: var(--half-stroke-dasharray);
        stroke-dashoffset: var(--half-stroke-dashoffset);
    }
    100%{
        stroke-dasharray: var(--half-stroke-dasharray);
        stroke-dashoffset: var(--end-stroke-dashoffset);
    }
}

/*f-switch__loading*/
@keyframes f-switch__loading-rotate {
    0%{
        transform: translate(-50%, -50%) rotate(0);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*f-progress*/
@keyframes f-progress__stripe {
    0%{
        background-position-x: var(--bgp-x);
    }
    100%{
        background-position-x: 0;
    }
}
@keyframes f-progress__stripe2 {
    to{
        left: 100%;
    }
}
@keyframes f-progress__wave {
    75%{
        opacity: .6;
    }
    100%{
        width: 100%;
        opacity: 0;
    }
}

/*f-radio*/
@keyframes  f-radio-scale-in{
    0%{
        opacity: .4;
        transform: scale(.5);
    }
    70%{
        opacity: .7;
        transform: scale(1.07);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}